<div class="category">
    <article th:fragment="card" class="card__article swiper-slide">
        <div class="card__image">
            <img th:src="@{'data:image/png;base64,'+${pos.generateBase64Image()}}" alt="image" class="card__img">
            <div class="card__shadow"></div>
        </div>
        <div class="card__data">
            <h3 class="card__name" name="card_name" title="Order" th:text="${pos.name}"></h3>
            <p class="card__description" th:text="${pos.text}"></p>
            <div class="price"><p th:text="${pos.price + '₽'}" ></p></div>
            <form id="order_form" class="order_form" action="catalog" method="get">
                <input id="data_9" type="text" name="card_name" class="order_bar" th:value="${pos.name}" title="Order">
                <button id="order_button" type="submit" class="card__button btn">Add to cart</button>
            </form>
            <!--            <button class="card__button btn">View More</button>-->
            <!--            <button class="card__button btn" type="submit"><i class="fa-solid fa-cart-shopping"></i></button>-->

        </div>
    </article>
</div>
