<!DOCTYPE html>
<html lang="ru" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css ">
    <link rel="icon" href="/img/logo.PNG">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/common.js" defer></script>
<!--    <script src="/js/cart.js" defer></script>-->
</head>
<body onload="drawCart()">
<header>
    <div class="header-content">
        <a href="index" class="brand">Component Haven<img src="/img/logo.PNG" alt="logo"></a>
        <input id="menu-toggle" type="checkbox"/>
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <nav class="menu">
            <a href="index" >Главная</a>
            <a href="about">О нас</a>
            <a href="catalog">Каталог</a>
            <a href="#" id="selected-link">Корзина</a>
            <a sec:authorize="!isAuthenticated()" href="registration_page">Регистрация</a>
            <div id="marker"></div>
        </nav>
    </div>
</header>
<main class="main-cart">
    <h2 class="cart-title">Корзина</h2>
    <h1>Ваш заказ</h1>
    <div th:each="pos : ${orders}" class="shopping-cart">
        <div th:insert="~{common/product :: product}"></div>
    </div>
    <button class="checkout">Заказать</button>
</main>
<footer th:insert="~{common/footer :: footer}"></footer>
</body>
</html>