<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://libs.cdnjs.net/font-awesome/6.4.2/css/all.css">
    <link rel="icon" href="/img/logo.PNG">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/common.js" defer></script>
    <script src="/js/catalog.js" defer></script>
    <script src="/js/cart.js" defer></script>

</head>
<body>
<header>
    <div class="header-content">
        <a href="index" class="brand">Component Haven<img src="/img/logo.PNG"></a>
        <input id="menu-toggle" type="checkbox"/>
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <nav class="menu">
            <a href="index">Главная</a>
            <a href="about">О нас</a>
            <a href="#" id="selected-link">Каталог</a>
            <a href="cart">Корзина</a>
            <a sec:authorize="!isAuthenticated()" href="registration_page">Регистрация</a>
            <div id="marker"></div>
        </nav>

    </div>
</header>
<main class="main_catalog">
    <!-- <div class="catalog">
         <h2 class="catalog-title">Каталог товаров</h2>
         <div class="catalog-container">
             <div class="notification" id="notification">Товар добавлен в корзину</div>
             <div class="catalog-category">
                 <h3 class="category-title" id="cpu-title">Процессоры</h3>
                 <div class="category" id="cpu"></div>
             </div>
             <div class="catalog-category">
                 <h3 class="category-title" id="MB-title">Материнские платы</h3>
                 <div class="category" id="MB"></div>
             </div>
             <div class="catalog-category">
                 <h3 class="category-title" id="PS-title">Блоки питания</h3>
                 <div class="category" id="PS"></div>
             </div>
             <div class="catalog-category">
                 <h3 class="category-title" id="cooler-title">Кулеры для процессоров</h3>
                 <div class="category" id="cooler"></div>
             </div>
         </div>
     </div>-->
    <div class="search-block">
        <form id="bar" class="bar" action="catalog" method="get">
            <input id="data_1" type="text" name="ask_name" class="searchbar" title="Search" placeholder="Поиск комплектующих по названию">
            <button id="search_button" type="submit" class="btn-0">Найти</button>
        </form>
        <form id="filter" class="bar" action="catalog" method="get">
            <input id="data_5" type="text" name="filter" class="filter_bar" value="filter" title="Filter">
            <button id="filter_button" type="submit" class="btn-1">Фильтровать по цене</button>
        </form>
    </div>
    <div class="catalog">
        <h3 class="catalog-title">Каталог товаров</h3>
        <div class="positions">
            <div th:each="pos : ${positions}" class="menu_container">
                <div th:insert="~{common/card :: card}"></div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{common/footer :: footer}"></footer>
<!--<script src="../script.js"></script>-->
</body>
</html>


