<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Haven</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css ">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/common.js" defer></script>
    <script src="/js/cart.js" defer></script>
    <script src="/js/script.js" defer></script>
</head>
<body>
<header>
    <div class="header-content">
        <a href="index" class="brand">Component Haven<img src="/img/logo.PNG" alt="logo"></a>
        <input id="menu-toggle" type="checkbox"/>
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <nav class="menu">
            <a href="#" id="selected-link">Главная</a>
            <a href="about">О нас</a>
            <a href="catalog">Каталог</a>
            <a href="cart">Корзина</a>
            <a sec:authorize="!isAuthenticated()" href="registration_page">Регистрация</a>
            <div id="marker"></div>
        </nav>
    </div>
</header>
<main id="main">
    <div class="advantages">
        <h2>Почему именно мы?</h2>
        <div class="cards">
            <div class="card">
                <span></span>
                <div class="content">
                    <h2>Надёжность</h2>
                    <p>Мы гарантируем поставку высококачественных комплектующих от проверенных производителей,
                        обеспечивая надежность и долговечность вашего компьютера.</p>
                </div>
            </div>
            <div class="card">
                <span></span>
                <div class="content">
                    <h2>Скорость</h2>
                    <p>Наш магазин предлагает широкий выбор продукции с высокой производительностью,
                        что обеспечивает мгновенный отклик и оперативную работу вашей системы.</p>
                </div>
            </div>
            <div class="card">
                <span></span>
                <div class="content">
                    <h2>Качество</h2>
                    <p>Мы стремимся предоставить нашим клиентам комплектующие выдающегося качества, прошедшие строгий
                        контроль.</p>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <h2 class="slider-title">Возможно, вам понравится</h2>
        <div class="card__container swiper">
            <div class="notification" id="notification">Товар добавлен в корзину</div>
            <div class="card__content">

                <div class="swiper-wrapper" id="swiper-wrapper"></div>
            </div>
            <!-- Navigation buttons -->
            <div class="swiper-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>

            <div class="swiper-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <section id="testimonials">
        <div class="testimonial-heading">
            <h2>Отзывы наших клиентов</h2>
        </div>
        <div class="testimonials-box-container"></div>
    </section>
</main>
<footer th:insert="~{common/footer :: footer}"></footer>

</body>
</html>