<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://libs.cdnjs.net/font-awesome/6.4.2/css/all.css">
    <link rel="icon" href="/img/logo.PNG">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/cart.js"></script>
    <script src="/js/common.js" defer></script>
</head>
<body>
<header>
    <div class="header-content">
        <a href="index" class="brand">Component Haven<img src="/img/logo.PNG"></a>
        <input id="menu-toggle" type="checkbox"/>
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <nav class="menu">
            <a href="index">Главная</a>
            <a href="about">О нас</a>
            <a href="catalog">Каталог</a>
            <a href="cart">Корзина</a>
            <a href="registration_page" id="selected-link">Регистрация</a>
            <div id="marker"></div>
        </nav>
    </div>
</header>
<main class="main-registration_page">
    <div>
        <h1>Регистрация</h1>
        <form id="registration" class="reg_form">
            <input type="text" name="email" id="email" placeholder="Email" required/>
            <input type="text" name="name" id="name" placeholder="Name" required/>
            <input type="password" name="password" id="password" placeholder="Password" required/>
            <button id="reg_button" type="submit" class="btn-0">Зарегистрироваться</button>
        </form>
        <script src="/js/reg.js"></script>
    </div>
</main>
</body>
</html>